html,
body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

body {
    background: #020002;
    padding-bottom: 60px;
}

img {
    display: block;
}


/* 处理 input type=number 不显示箭头按钮 */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}